@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-accent {
  background-color: #26524b;
}
.accent {
  color: #26524b;
}

.padded {
  @apply px-2;
  @apply md:px-12;
  @apply lg:px-24;
  @apply xl:px-40;
}

.main-menu a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
  opacity: 0;
  transform: scale(0, 1);
  transition: all 0.5s;
  transform-origin: center;
}

@media (width >= 770px) {
  .main-menu a:hover {
    &::after {
      opacity: 1 !important;
      transform: scale(1, 1);
    }
  }
}

.hover-spinner {
  transition: 0.7s ease-in-out;
}
.hover-spinner:hover {
  transform: rotate(365deg);
}

.hero-buttons a {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.4em 1.8em;
  border-radius: 0.3em;
}

.hero-buttons .bg-white {
  color: black !important;
}

.hero-buttons a:hover {
  transform: scale(1.05);
}

.bg-to-black {
  transition: all 300ms ease;
}

.bg-to-black:hover {
  background-color: black;
  color: white !important;
}

.content-title {
  font-weight: bold;
  font-size: 1.4rem;
}
